body {
    margin: 0;
}

.menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #FFF0F5;
}

.menu a {
    text-decoration: none;
    font-size: 1.4em;
    margin-left: 10px;
    color : rgb(22, 22, 22),
    }

.menu a {
    cursor: pointer;

}

    .title-center {
        text-align: center;
    }
    